<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %> </title>
    <% locals.globalStyles.forEach(style => { %>
        <link rel="stylesheet" href="<%= style %>">
    <% }) %>
    <% locals.globalScripts.forEach(script => { %>
        <script src="<%= script %>" defer></script>
    <% }) %>
    <% locals.styles.forEach(style => { %>
        <link rel="stylesheet" href="<%= style %>">
    <% }) %>
    <% locals.scripts.forEach(script => { %>
        <script src="<%= script %>" defer></script>
    <% }) %>
</head>
<body>
    <%- include(locals.view) %>
</body>
</html>